.App {
  text-align: center;
}

.botonBarra {
  background-color: black;
  color: white;
  margin: 5px;
  padding: 10px 30px;
  border-radius: 5px;
}

.caja-login {
  background-color: #FFFFFF;
  border:1px solid #dedede;
  border-radius: 8px;
}